* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* swiper */
.swiper__wrap {
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* index2 */
.magnify-wrapper .swiper-slide-active .large-img {
    background: no-repeat #fff;
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    position: absolute;
    border: 2px solid #efefef;
    z-index: 99;
    border-radius: 100%;
    display: block;
    opacity: 0;
    transition: opacity 0.2s;
}
.magnify-wrapper:hover .swiper-slide-active .large-img,
.magnify-wrapper:active .swiper-slide-active .large-img {
    opacity: 1;
}
